<h1><%= "You searched for #{@author}"%></h1>

<h3>Your Results</h3>
<% if @poems.class == Array%>
  <% @poems.each do |poem| %>
  <p><h1><%= poem.author %></h1>
  <h3><%= poem.title %></h3>
    <% poem.lines.each do |line| %>
    <%= line %>
    <% end %></p>
  <% end %>
<% else %>
  <%= @poems %>
<% end %>
